.menu-btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 0px;
    font-size: 21px;
    color: #E73931;
    width: 50px;
    height: 40px;
    padding: 4px 9px;
    border-radius: 100px;
    transition: 0.3s;
    z-index: 10;
    cursor: pointer;
}

img.app-logo {
    height: 41px;
    position: absolute;
    left: 22px;
    top: 5px;
}

.affix {
    position: fixed;
    top: 60px;
    max-width: 300px;
}

.app-title {
    margin: 0px;
    display: inline-block;
    color: white;
    margin-top: 14px;
    font-size: 21px;
    margin-left: 60px;
}

#content-host {
    padding: 50px 15px 10px;
    min-height: 400px;
    background-color: white;
}

.k-multiselect .k-multiselect-wrap {
    border-radius: 0px;
}

.pushy.pushy-open {
    right: 0;
}
.pushy .profile {
    background: #D82E26;
    margin: 0px;
    padding: 0px;
}
.pushy .profile h3 {
    margin: 0px;
    padding: 14px 0px;
    font-size: 19px;
    min-height: 49px;
    color: white;
}
.pushy .side_menu {
    margin: 0px;
    padding: 0px;
}

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(16, 7, 29, 0.72);
    -webkit-animation: fade 500ms; 
    -moz-animation: fade 500ms; 
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}
