
body {
    background: none !important;
}

.left-side {
    background: #007dba no-repeat center top;
    background-size: cover;
    height: 100vh;
    z-index: 99;
    margin-right: 330px;
}

.right-side {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 330px;
    padding: 10px;
    background: repeating-linear-gradient(45deg, white, white 10px, #fcfcfc 10px, #fcfcfc 20px);
}
.right-side .logo {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}
.right-side .logo img {
    height: 100px;
}
.right-side .title {
    margin-bottom: 60px;
    margin-top: -28px;
    text-align: center;
    width: 100%;
    font-size: 22px;
}
.right-side form {
    width: 260px;
    margin: 0px auto;
}
.right-side form .form-group .input-group-addon {
    background-color: #f0f3f4;
    border: 1px solid #F0F3F4;
    border-radius: 0px;
    font-size: 12px;
    min-width: 85px;
}
.right-side form .form-group .form-control {
    border-left: none;
    box-shadow: none;
    border-radius: 0px;
    border-color: #F0F3F4;
    padding: 5px 8px;
    font-size: 12px;
}
.right-side form .form-group .form-control:disabled {
    background-color: white;
}
.right-side form .forgot-password {
    display: block;
    margin-bottom: 14px;
    text-align: right;
    font-size: 13px;
    color: #807c7c;
}
.right-side button[type=submit] {
    width: 100%;
    border-radius: 0px;
    background-image: none;
    border: none;
    padding: 10px;
    transition: ease-in-out 100ms background-color;
}
