.stats-image {
    text-align: center;
    padding: 10px 20px 20px;
}

.filter {
    margin-right: -5px;
}

.filter .control-label {
    margin-top: 7px;
    padding-right: 0px;
    text-align: right;
}

.btn-refresh {
    margin-left: 10px;
    margin-top: 2px;
}
